@charset "utf-8";
/* CSS Document */

@import "variables";
@import "functions";

body {
	text-align:center;
}
h1 {
	color: $nice-blue;
}

#header {
    color: $light-blue;
    font-size: add-two-numbers(10px, 15px);
}

@mixin bordered() {
    border-top: dotted 1px black;
    border-bottom: solid 2px black; 
}

#menu a {
    color: #111;
    @include bordered();
} 

.post a {
    color: red;
    @include bordered();
}

.button-02 {
    @include border-radius(2px);
}
.button-05 {
    @include border-radius();
}
.button-20 {
    @include border-radius(20px);
}
